# RL in Finance(Test Cash Penalty) 
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sunnyswag/RL_in_Finance/blob/main/RL_in_Finance_Test_cash_penalty.ipynb)

## 1、拉取 github 仓库，下载并导入相关包
&emsp;&emsp;运行流程：python setup.py -> pip install -r requirements.txt

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import datetime
import time

%matplotlib inline
from utils import config
from utils.pull_data import Pull_data
from utils.preprocessors import FeatureEngineer, split_data
from utils.env_cash_penalty import StockTradingEnvCashpenalty
from utils.models import DRL_Agent
from utils.backtest import backtest_stats, backtest_plot, get_baseline
import itertools
import sys
sys.path.append("../RL_in_Finance")

/usr/local/lib/python3.7/dist-packages/pyfolio/pos.py:27: UserWarning: Module "zipline.assets" not found; multipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; multipliers will not be applied'

## 2、下载数据

数据来源：Tushare API<br>
当前用到的数据：SSE_50 和 CSI_300<br>
数据量的大小：shape[2892 * n, 8]

In [3]:
stock_list = config.SSE_50
df = Pull_data(stock_list, save_data=False).pull_data()

--- 开始下载 ----
下载进度 : 20.0%
下载进度 : 40.0%
下载进度 : 60.0%
下载进度 : 80.0%
下载进度 : 100.0%
--- 下载完成 ----
DataFrame 的大小:  (114845, 8)

In [4]:
df.sort_values(['date', 'tic'], ignore_index=True).head()

         date        tic    open    high     low   close     volume  day
0  2009-01-05  600000.SH  2.7584  2.8115  2.7258  2.8013  503142.56    0
1  2009-01-05  600009.SH  9.4665  9.6505  9.4414  9.5836   52100.33    0
2  2009-01-05  600016.SH  1.6369  1.6487  1.6170  1.6448  947739.82    0
3  2009-01-05  600028.SH  3.1966  3.2461  3.1786  3.2371  361085.66    0
4  2009-01-05  600030.SH  9.2667  9.5705  9.1654  9.5502  818978.41    0

In [5]:
print("数据下载的时间区间为：{} 至 {}".format(config.Start_Date, config.End_Date))

数据下载的时间区间为：20090101 至 20210101

In [6]:
print("下载的股票列表为: ")
print(stock_list)

下载的股票列表为:
['600000.SH', '600009.SH', '600016.SH', '600028.SH', '600030.SH', '600031.SH', '600036.SH', '600048.SH', '600050.SH', '600104.SH', '600196.SH', '600276.SH', '600309.SH', '600519.SH', '600547.SH', '600570.SH', '600585.SH', '600588.SH', '600690.SH', '600703.SH', '600745.SH', '600837.SH', '600887.SH', '600918.SH', '601012.SH', '601066.SH', '601088.SH', '601138.SH', '601166.SH', '601186.SH', '601211.SH', '601236.SH', '601288.SH', '601318.SH', '601319.SH', '601336.SH', '601398.SH', '601601.SH', '601628.SH', '601668.SH', '601688.SH', '601816.SH', '601818.SH', '601857.SH', '601888.SH', '603160.SH', '603259.SH', '603288.SH', '603501.SH', '603986.SH']

## 3、数据预处理

In [7]:
processed_df = FeatureEngineer(use_technical_indicator=True).preprocess_data(df)
processed['log_volume'] = np.log(processed.volume*processed.close)
processed['change'] = (processed.close-processed.open)/processed.close
processed['daily_variance'] = (processed.high-processed.low)/processed.close

成功添加技术指标
对当前时间段未上市的公司的所有行置零

In [9]:
print("技术指标列表: ")
print(config.TECHNICAL_INDICATORS_LIST)
print("技术指标数: {}个".format(len(config.TECHNICAL_INDICATORS_LIST)))

技术指标列表:
['boll_ub', 'boll_lb', 'rsi_30', 'cci_30', 'dx_30', 'macd', 'volume_20_sma', 'volume_60_sma', 'volume_120_sma', 'close_20_sma', 'close_60_sma', 'close_120_sma']
技术指标数: 12个

In [8]:
processed_df.head()

         date        tic    open  ...  close_20_sma  close_60_sma  close_120_sma
0  2009-01-05  600000.SH  2.7584  ...        2.8013        2.8013         2.8013
1  2009-01-05  600009.SH  9.4665  ...        9.5836        9.5836         9.5836
2  2009-01-05  600016.SH  1.6369  ...        1.6448        1.6448         1.6448
3  2009-01-05  600028.SH  3.1966  ...        3.2371        3.2371         3.2371
4  2009-01-05  600030.SH  9.2667  ...        9.5502        9.5502         9.5502

[5 rows x 20 columns]

In [10]:
train_data = split_data(processed_df, config.Start_Trade_Date, config.End_Trade_Date)
test_data = split_data(processed_df, config.End_Trade_Date, config.End_Test_Date)

In [11]:
print("训练数据的范围：{} 至 {}".format(config.Start_Trade_Date, config.End_Trade_Date))
print("测试数据的范围：{} 至 {}".format(config.End_Trade_Date, config.End_Test_Date))
print("训练数据的长度: {},测试数据的长度:{}".format(len(train_data), len(test_data)))
print("训练集数据 : 测试集数据: {} : {}".format(round(len(train_data)/len(test_data),1), 1))

训练数据的范围：2009-01-01 至 2019-01-01
测试数据的范围：2019-01-01 至 2021-01-01
训练数据的长度: 121550,测试数据的长度:24350
训练集数据 : 测试集数据: 5.0 : 1

In [12]:
train_data.head()

         date        tic    open  ...  close_20_sma  close_60_sma  close_120_sma
0  2009-01-05  600000.SH  2.7584  ...        2.8013        2.8013         2.8013
0  2009-01-05  600009.SH  9.4665  ...        9.5836        9.5836         9.5836
0  2009-01-05  600016.SH  1.6369  ...        1.6448        1.6448         1.6448
0  2009-01-05  600028.SH  3.1966  ...        3.2371        3.2371         3.2371
0  2009-01-05  600030.SH  9.2667  ...        9.5502        9.5502         9.5502

[5 rows x 20 columns]

In [62]:
test_data.head()

         date        tic     open  ...  close_20_sma  close_60_sma  close_120_sma
0  2019-01-02  600000.SH   8.9589  ...      9.580235      9.716063       9.475849
0  2019-01-02  600009.SH  49.6941  ...     49.592915     49.906370      53.102410
0  2019-01-02  600016.SH   5.0982  ...      5.238595      5.419815       5.361655
0  2019-01-02  600028.SH   4.4596  ...      4.990395      5.276185       5.487852
0  2019-01-02  600030.SH   0.0000  ...      0.000000      0.000000       0.000000

[5 rows x 20 columns]

## 4、初始化环境

**state_space 由四部分组成 :** <br>
1. 当天的资金量
2. 每只股票当天的收盘价
3. 每只股票当天的持仓量
4. 股票数 * 技术指标数<br>
5. 当天成交量

**reward 的计算方式：**<br>
* reward 交易前的总资产-当天交易后的总资产 = 当天交易的手续费
* TODO：待改进

**action_space 的空间：**<br>
  * actions ∈[-100, 100]
  * 正数表示买入，负数表示卖出，0表示不进行买入卖出操作
  * 绝对值表示买入卖出的数量

In [13]:
# stock_dimension = len(df.tic.unique())
# state_space = 1 + 2*stock_dimension + \
#     len(config.TECHNICAL_INDICATORS_LIST)*stock_dimension + stock_dimension
# print("stock_dimension: {}, state_space: {}".format(stock_dimension, state_space))

In [14]:
# 初始化环境的参数
information_cols = config.TECHNICAL_INDICATORS_LIST + ["close", "day", "log_volume", "change", "daily_variance"]

e_train_gym = StockTradingEnvCashpenalty(df = train_data,initial_amount = 1e6,hmax = 5000, 
                                turbulence_threshold = None, 
                                currency='￥',
                                buy_cost_pct=3e-3,
                                sell_cost_pct=3e-3,
                                cash_penalty_proportion=0.2,
                                cache_indicator_data=True,
                                daily_information_cols = information_cols, 
                                print_verbosity = 500, 
                                random_start = True)

e_trade_gym = StockTradingEnvCashpenalty(df = test_data,initial_amount = 1e6,hmax = 5000, 
                                turbulence_threshold = None, 
                                currency='￥',
                                buy_cost_pct=3e-3,
                                sell_cost_pct=3e-3,
                                cash_penalty_proportion=0.2,
                                cache_indicator_data=True,
                                daily_information_cols = information_cols, 
                                print_verbosity = 500, 
                                random_start = False)

caching data
data cached!
caching data
data cached!

In [17]:
# 对环境进行测试
observation = e_train_gym.reset() # 初始化环境，observation为环境状态
count = 0
total_reward = 0
for t in range(100):
  action = e_train_gym.action_space.sample() # 随机采样动作
  observation, reward, done, info = e_train_gym.step(action) # 与环境交互，获得下一个state的值
  total_reward += reward
  if done:             
      break
  count+=1
  # time.sleep(0.2)      #每次等待 0.2s
print("count: ", count)
print("observation: ", observation)
print("reward: {}, done: {}".format(total_reward, done))

/usr/local/lib/python3.7/dist-packages/utils/env_cash_penalty.py:283: RuntimeWarning: invalid value encountered in true_divide
  actions = actions / self.closings

count:  100
observation:  [344864.5664951675, 0.0, 6281.39753150845, 10556.465293415804, 1888.9401953432287, 1567.637301907643, 760.3572735227943, 805.5705058366193, 9377.341847955347, 6274.3175369885275, 0.0, 220.9047892153185, 9738.131283325441, 3655.473670104796, 83.52019375596721, 4442.4861327072595, 1056.945647723765, 428.9471746557452, 5173.251316949659, 16819.501408601333, 1530.3608179986254, 1934.159245286381, 1450.7894530873896, 13390.499834641752, 0.0, 0.0, 0.0, 1869.381571270129, 0.0, 550.510030160087, 2269.8940033801987, 0.0, 0.0, 0.0, 406.0010651507694, 0.0, 0.0, 5393.481199359897, 1709.965085840975, 1730.8843584895953, 4109.825031469768, 0.0, 0.0, 0.0, 160.39711010459766, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6.658485392601641, 5.157244607398349, 50.22263948946492, 1.0012549260691863, 2.9671881525031574, -0.1566723092111859, 1198284.0324999995, 910302.8511666663, 816084.441666667, 5.907864999999995, 6.682416666666667, 5.893577500000002, 6.2761, 1.0, 12.528216850025121, 11.239413149974858, 46.87376488617161, -23.534742161705115, 5.599582959863475, -0.2992344422814419, 188942.68399999972, 227809.04300000012, 223054.05841666696, 11.88381499999999, 13.160478333333327, 12.568231666666666, 12.2008, 1.0, 3.012778882721386, 2.438571117278617, 48.1801108491026, -14.513490572256675, 11.644076398890618, -0.08196122136211947, 2194993.9809999997, 2153280.5329999984, 2305580.9341666666, 2.7256750000000016, 3.077385000000001, 2.7732949999999987, 2.8334, 1.0, 6.246111078041586, 4.940978921958409, 50.440460197952135, -37.24940122537409, 5.892694404971565, -0.10547626222214657, 939713.2429999998, 1050023.5358333334, 971101.2035833332, 5.593544999999997, 5.693368333333336, 5.074728333333335, 5.5763, 1.0, 15.292801565039518, 12.661418434960495, 47.255019769761915, -23.60547709827725, 11.172799399025774, -0.5141630629911251, 1324115.3524999986, 1520398.0276666682, 1401431.244249999, 13.977110000000007, 15.972829999999995, 14.576618333333325, 14.538, 1.0, 6.124838708000844, 5.037781291999163, 56.48590973439841, 100.05508734766656, 24.130124103088235, -0.00422859372195461, 71003.04299999999, 101452.24883333335, 122604.03366666668, 5.581310000000004, 5.70474666666667, 5.1247525, 6.0965, 1.0, 10.539455509099628, 8.75600449090037, 49.33337298079559, -0.7850410347142266, 1.3476281511000843, -0.22433205999041483, 1041493.4800000023, 1150344.9206666672, 1305484.1695833334, 9.64773, 10.882516666666673, 9.638014166666668, 10.1292, 1.0, 6.55878864657316, 5.130151353426849, 52.139821534018445, 63.37137203547886, 8.308201799314254, -0.023110966665067068, 298501.9575, 426835.7964999996, 350981.7475000001, 5.844470000000005, 6.470351666666662, 5.751517499999998, 6.2988, 1.0, 6.198681955501186, 5.420268044498808, 50.95880058457571, 24.64954366199442, 2.080128866515834, -0.05238199929516174, 1828436.315499999, 2478474.734166666, 2585383.9873333327, 5.809474999999997, 6.283163333333334, 5.943246666666657, 6.1504, 1.0, 10.188468525124923, 7.079571474875078, 58.88267518566021, 117.82537101100452, 17.370528734668667, 0.33395006562314755, 229051.00050000002, 241872.03883333324, 242925.70491666673, 8.634020000000001, 8.476254999999998, 7.218915, 9.5136, 1.0, 11.311739335976531, 8.752540664023483, 59.20247608775531, 97.5342193081872, 31.170247418447577, 0.37696375656041425, 236694.5649999998, 179988.2098333334, 201040.09291666668, 10.032140000000007, 9.170040000000002, 8.567750833333328, 10.5815, 1.0, 5.165725844342196, 4.248904155657808, 61.13149647270107, 93.03738993556613, 24.646159938400668, 0.17161386264918121, 30289.70899999999, 31321.95716666668, 30107.304999999982, 4.707315000000002, 4.357501666666666, 4.124815, 4.939, 1.0, 8.475657057918877, 6.765942942081109, 53.42699534616677, 27.424095536408167, 17.872234968902546, 0.00626333117399458, 166787.9640000001, 250807.34600000005, 229138.52558333325, 7.620799999999993, 7.99873, 7.969453333333329, 8.3292, 1.0, 106.14623411684813, 91.0796858831519, 58.90126969506532, 87.20363016036002, 28.733646955196985, 1.9913652667789705, 23943.422499999986, 29692.058499999996, 31811.33583333333, 98.61296000000002, 95.37267000000001, 85.05432166666668, 102.8986, 1.0, 16.694357406583393, 10.049772593416582, 57.91607064961008, 107.11250721027427, 26.609331500518696, 0.5753681038518454, 262953.88099999976, 261574.37233333327, 228209.35024999996, 13.372064999999989, 14.207293333333334, 12.369622499999997, 15.5852, 1.0, 5.6866986045103305, 4.329271395489674, 57.40551546175125, 135.98581030728025, 18.57904069935786, 0.09581488417455564, 59164.07450000001, 58769.96833333328, 50741.81066666669, 5.007985000000002, 5.065806666666669, 4.916224166666663, 5.5671, 1.0, 12.383390265745104, 9.877149734254894, 53.41269674995681, 47.974207716750065, 9.744037952805538, 0.10848892692247247, 46141.785000000054, 60255.04133333336, 66876.72799999996, 11.13027, 11.441221666666666, 10.779500833333342, 11.7931, 1.0, 3.590036857647882, 3.1355631423521153, 52.7234402499723, 52.112405191540496, 22.063877149752354, -0.015465187319575247, 62403.140999999945, 89704.46499999994, 77916.02775, 3.3627999999999987, 3.5605100000000016, 3.486824166666666, 3.589, 1.0, 3.3917046851605788, 2.8112253148394224, 59.41441740903145, 170.95299908053508, 28.983044964953553, 0.07759148219612033, 138388.26099999982, 160832.1005000003, 245662.18300000008, 3.1014650000000006, 2.947581666666666, 2.595687499999998, 3.3349, 1.0, 2.54411690516223, 2.0241730948377694, 51.09074032323924, 56.90958830887756, 0.4462560040789005, 0.0034323906006625826, 21071.257499999996, 25161.943666666666, 23268.23991666668, 2.2841449999999996, 2.474395, 2.5075333333333303, 2.4404, 1.0, 8.69301237271343, 7.106717627286571, 48.43136374544377, 1.264821751474267, 2.4506101621522527, -0.22624830099326587, 31998.093000000033, 57530.75183333336, 53961.567333333354, 7.899865, 9.120974999999993, 8.722123333333327, 8.3482, 1.0, 12.656302106595495, 10.585797893404477, 46.07239960517993, -21.22673963174472, 13.922356697032825, -0.46235885021851963, 973811.1394999998, 1365687.8218333332, 1677818.7435833325, 11.621049999999986, 13.676493333333344, 12.71356333333333, 12.14, 1.0, 2.686582273230699, 2.0828577267693023, 63.61367886742753, 157.6110934337289, 42.296977590379534, 0.0951278978353165, 100715.13300000006, 132309.46300000005, 153264.21758333326, 2.3847200000000006, 2.2552016666666668, 2.0934491666666672, 2.6099, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20.04060116528503, 15.866418834714972, 53.04978805350494, 27.920354955396515, 2.402977839884095, -0.10088991638519573, 367163.25350000005, 471367.24616666674, 505512.2588333333, 17.95351, 18.948643333333337, 16.437664166666664, 19.1208, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.30798382713646, 6.85557617286354, 53.35882470271493, 36.50518575978336, 2.8312700646050053, -0.06426948357797713, 334318.01750000025, 280274.0316666664, 299441.8570833334, 8.08178, 8.83979, 7.582141666666672, 8.7409, 1.0, 7.709058426528422, 7.17126157347159, 45.808217945172906, -28.620945502188693, 9.288199460125345, -0.1325540819137121, 583582.2385000004, 837232.3995000006, 796277.1605833333, 7.440160000000006, 8.060490000000001, 7.916775000000003, 7.5487, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22.679810608120544, 18.26195939187949, 52.21762469585949, 31.345371116703458, 0.8427252702889566, -0.13934752227334712, 360073.7330000001, 344357.5948333334, 365978.06633333315, 20.470885000000017, 22.23733166666669, 19.51830083333332, 21.7181, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.916909368363059, 2.547110631636943, 53.03867902513394, 65.8617249424572, 11.150973615536461, 0.0023722097646716733, 1913883.6195, 2897985.6496666665, 2968781.4749166677, 2.732010000000001, 2.9131066666666707, 2.6526008333333317, 2.8689, 1.0, 18.090243067619966, 14.892946932380026, 49.437961117583065, -5.3058943423519676, 18.81436689334376, -0.35471157600638037, 472813.1384999997, 433277.19383333373, 399455.98933333333, 16.491594999999997, 18.618360000000013, 16.171598333333336, 17.2595, 1.0, 24.897066045545813, 21.42078395445421, 52.13224730247345, 45.49584144423287, 0.3867461791080048, -0.07546316517454699, 332180.7820000003, 332254.03183333355, 355467.96091666643, 23.15892500000001, 24.526104999999994, 22.32908333333332, 24.1991, 1.0, 2.9194623639001813, 2.6504576360998167, 39.575018502590254, -27.867950022519512, 18.12090016117675, -0.0527050648909948, 2777006.278500002, 5242728.583714287, 5242728.583714287, 2.784959999999999, 3.0335942857142855, 3.0335942857142855, 2.8496, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.74581500452514, 9.391974995474849, 48.237639051640215, -22.543176124326653, 8.102708393957816, -0.16381824836479275, 450334.8925000002, 703153.6355, 684440.2809166668, 10.068894999999994, 10.707168333333346, 10.01039833333333, 10.1694, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
reward: 0.07991954832530407, done: False

In [18]:
import multiprocessing

n_cores = multiprocessing.cpu_count() - 2
print("using {} cores".format(n_cores))

#this is our training env. It allows multiprocessing
env_train, _ = e_train_gym.get_multiproc_env(n = n_cores)

#this is our observation environment. It allows full diagnostics
env_trade, _ = e_trade_gym.get_sb_env()

## 5、开始训练

所用到的框架：stable_baseline3

In [39]:
agent = DRLAgent(env = env_train)

In [40]:
# from torch.nn import Softsign, ReLU
ppo_params ={'n_steps': 256, 
             'ent_coef': 0.0, 
             'learning_rate': 0.000005, 
             'batch_size': 256, 
            'gamma': 0.99}

policy_kwargs = {
#     "activation_fn": ReLU,
    "net_arch": [1024 for _ in range(10)], 
#     "squash_output": True
}

model = agent.get_model("ppo",  
                        model_kwargs = ppo_params, 
                        policy_kwargs = policy_kwargs, verbose = 0)

# model = model.load("scaling_reward.model", env = env_train)

{'n_steps': 256, 'ent_coef': 0.0, 'learning_rate': 5e-06, 'batch_size': 1024, 'gamma': 0.99}

/usr/local/lib/python3.7/dist-packages/stable_baselines3/ppo/ppo.py:132: UserWarning: You have specified a mini-batch size of 1024, but because the `RolloutBuffer` is of size `n_steps * n_envs = 256`, after every 0 untruncated mini-batches, there will be a truncated mini-batch of size 256
We recommend using a `batch_size` that is a multiple of `n_steps * n_envs`.
Info: (n_steps=256 and n_envs=1)
  f"You have specified a mini-batch size of {batch_size},"

{'n_steps': 256, 'ent_coef': 0.0, 'learning_rate': 5e-06, 'batch_size': 1024, 'gamma': 0.99}

In [ ]:
model.learn(total_timesteps = 50000, 
            eval_env = env_trade, 
            eval_freq = 500,
            log_interval = 1, 
            tb_log_name = 'env_cashpenalty_highlr',
            n_eval_episodes = 1)

/usr/local/lib/python3.7/dist-packages/utils/env_cash_penalty.py:283: RuntimeWarning: invalid value encountered in true_divide
  actions = actions / self.closings

   2|  91|CASH SHORTAGE  |￥22,525        |￥983,627       |-0.20942% |-1.63730% |2.29%
   3| 113|CASH SHORTAGE  |￥33,615        |￥1,080,190     |-0.09047% |8.01899%  |3.11%
   4| 125|CASH SHORTAGE  |￥33,116        |￥1,028,931     |-0.11499% |2.89314%  |3.22%
   5| 116|CASH SHORTAGE  |￥28,769        |￥1,011,412     |-0.13974% |1.14117%  |2.84%

/usr/local/lib/python3.7/dist-packages/stable_baselines3/common/evaluation.py:69: UserWarning: Evaluation environment is not wrapped with a ``Monitor`` wrapper. This may result in reporting modified episode lengths and rewards, if other wrappers happen to modify these. Consider wrapping environment first with ``Monitor`` wrapper.
  UserWarning,

EPISODE|STEPS|TERMINAL_REASON|CASH           |TOT_ASSETS     |TERMINAL_REWARD_unsc|GAINLOSS_PCT|CASH_PROPORTION
   1| 486|Last Date      |￥497,787       |￥1,209,804     |0.04317%  |20.98041% |41.15%
Eval num_timesteps=500, episode_reward=0.14 +/- 0.00
Episode length: 487.00 +/- 0.00
New best mean reward!
   6|  90|CASH SHORTAGE  |￥31,559        |￥972,221       |-0.21185% |-2.77792% |3.25%
   7| 110|CASH SHORTAGE  |￥646           |￥954,221       |-0.21453% |-4.57795% |0.07%
   8| 174|CASH SHORTAGE  |￥5,766         |￥844,136       |-0.18329% |-15.58642%|0.68%
   9|  84|CASH SHORTAGE  |￥37,070        |￥957,042       |-0.23488% |-4.29580% |3.87%
   3| 486|Last Date      |￥230,505       |￥1,368,097     |0.06687%  |36.80968% |16.85%
Eval num_timesteps=1000, episode_reward=0.22 +/- 0.00
Episode length: 487.00 +/- 0.00
New best mean reward!
  10| 138|CASH SHORTAGE  |￥38,990        |￥1,139,275     |-0.03593% |13.92751% |3.42%
  11|  91|CASH SHORTAGE  |￥30,822        |￥930,420       |-0.24708% |-6.95803% |3.31%
  12| 120|CASH SHORTAGE  |￥14,422        |￥885,067       |-0.23127% |-11.49329%|1.63%
  13| 136|CASH SHORTAGE  |￥27,586        |￥942,167       |-0.16079% |-5.78327% |2.93%
  14|  93|CASH SHORTAGE  |￥16,944        |￥964,276       |-0.22756% |-3.57242% |1.76%
   5| 486|Last Date      |￥65,510        |￥1,376,580     |0.03432%  |37.65799% |4.76%
Eval num_timesteps=1500, episode_reward=0.20 +/- 0.00
Episode length: 487.00 +/- 0.00
  15| 116|CASH SHORTAGE  |￥19,080        |￥1,083,842     |-0.09814% |8.38416%  |1.76%
  16| 132|CASH SHORTAGE  |￥7,318         |￥892,729       |-0.21098% |-10.72708%|0.82%
  17| 122|CASH SHORTAGE  |￥10,159        |￥1,101,261     |-0.08921% |10.12611% |0.92%
   7| 442|CASH SHORTAGE  |￥592           |￥1,232,614     |-0.00301% |23.26137% |0.05%
Eval num_timesteps=2000, episode_reward=0.15 +/- 0.00
Episode length: 443.00 +/- 0.00
  18| 143|CASH SHORTAGE  |￥16,275        |￥1,191,423     |-0.02139% |19.14232% |1.37%
  19|  83|CASH SHORTAGE  |￥7,867         |￥933,068       |-0.29600% |-6.69322% |0.84%
  20|  66|CASH SHORTAGE  |￥18,652        |￥1,027,964     |-0.24087% |2.79641%  |1.81%
  21|  76|CASH SHORTAGE  |￥17,200        |￥841,773       |-0.40708% |-15.82266%|2.04%
  22| 101|CASH SHORTAGE  |￥16,579        |￥899,333       |-0.26134% |-10.06672%|1.84%
  23| 111|CASH SHORTAGE  |￥14,969        |￥1,020,944     |-0.15160% |2.09437%  |1.47%
   9| 407|CASH SHORTAGE  |￥1,010         |￥1,343,547     |0.01864%  |34.35467% |0.08%
Eval num_timesteps=2500, episode_reward=0.17 +/- 0.00
Episode length: 408.00 +/- 0.00
  24|  86|CASH SHORTAGE  |￥4,499         |￥965,101       |-0.25979% |-3.48989% |0.47%
  25|  68|CASH SHORTAGE  |￥41,598        |￥930,534       |-0.31467% |-6.94660% |4.47%
  26| 117|CASH SHORTAGE  |￥15,448        |￥1,011,120     |-0.15013% |1.11203%  |1.53%
  27|  77|CASH SHORTAGE  |￥2,954         |￥986,968       |-0.26944% |-1.30315% |0.30%
  28|  72|CASH SHORTAGE  |￥32,698        |￥983,812       |-0.25035% |-1.61880% |3.32%
  29|  89|CASH SHORTAGE  |￥32,859        |￥897,723       |-0.27973% |-10.22773%|3.66%
  11| 357|CASH SHORTAGE  |￥1,572         |￥1,309,013     |0.01366%  |30.90126% |0.12%
Eval num_timesteps=3000, episode_reward=0.16 +/- 0.00
Episode length: 358.00 +/- 0.00
  30| 138|CASH SHORTAGE  |￥4,848         |￥1,232,100     |-0.00686% |23.20996% |0.39%
  31|  67|CASH SHORTAGE  |￥23,277        |￥945,041       |-0.32939% |-5.49589% |2.46%
  32| 101|CASH SHORTAGE  |￥42,127        |￥919,496       |-0.22008% |-8.05037% |4.58%
  33|  71|CASH SHORTAGE  |￥1,872         |￥927,761       |-0.36045% |-7.22393% |0.20%
  34|  64|CASH SHORTAGE  |￥35,438        |￥986,153       |-0.27444% |-1.38468% |3.59%
  13| 297|CASH SHORTAGE  |￥1,005         |￥1,080,459     |-0.04533% |8.04590%  |0.09%
Eval num_timesteps=3500, episode_reward=0.11 +/- 0.00
Episode length: 298.00 +/- 0.00
  35|  88|CASH SHORTAGE  |￥503           |￥946,961       |-0.27492% |-5.30386% |0.05%
  36|  78|CASH SHORTAGE  |￥17,237        |￥985,485       |-0.24920% |-1.45152% |1.75%
  37|  89|CASH SHORTAGE  |￥29,109        |￥897,637       |-0.28402% |-10.23634%|3.24%
  38|  57|CASH SHORTAGE  |￥21,709        |￥992,167       |-0.32378% |-0.78326% |2.19%
  39|  80|CASH SHORTAGE  |￥14,532        |￥911,973       |-0.31986% |-8.80265% |1.59%
  40|  68|CASH SHORTAGE  |￥13,750        |￥925,725       |-0.36128% |-7.42746% |1.49%
  15| 235|CASH SHORTAGE  |￥2,859         |￥1,232,111     |-0.00487% |23.21110% |0.23%
Eval num_timesteps=4000, episode_reward=0.10 +/- 0.00
Episode length: 236.00 +/- 0.00
  41| 143|CASH SHORTAGE  |￥5,183         |￥1,173,995     |-0.03890% |17.39955% |0.44%
  42| 183|CASH SHORTAGE  |￥7,409         |￥1,209,991     |-0.01344% |20.99911% |0.61%
  43| 111|CASH SHORTAGE  |￥9,495         |￥1,072,777     |-0.11917% |7.27768%  |0.89%
  44|  73|CASH SHORTAGE  |￥5,565         |￥941,471       |-0.33049% |-5.85289% |0.59%
  45|  52|CASH SHORTAGE  |￥17,997        |￥1,011,694     |-0.33201% |1.16943%  |1.78%
  46|  52|CASH SHORTAGE  |￥10,355        |￥945,737       |-0.44818% |-5.42634% |1.09%
  17| 210|CASH SHORTAGE  |￥1,921         |￥1,211,220     |-0.01386% |21.12200% |0.16%
Eval num_timesteps=4500, episode_reward=0.10 +/- 0.00
Episode length: 211.00 +/- 0.00
  47| 124|CASH SHORTAGE  |￥22,528        |￥933,557       |-0.18599% |-6.64429% |2.41%
  48|  89|CASH SHORTAGE  |￥4,328         |￥860,034       |-0.34567% |-13.99663%|0.50%
  49|  57|CASH SHORTAGE  |￥35,417        |￥1,025,928     |-0.25235% |2.59281%  |3.45%
  50|  70|CASH SHORTAGE  |￥16,515        |￥1,008,277     |-0.25266% |0.82769%  |1.64%
  51|  54|CASH SHORTAGE  |￥47,678        |￥969,476       |-0.32730% |-3.05243% |4.92%
  52|  90|CASH SHORTAGE  |￥17,266        |￥931,923       |-0.26355% |-6.80769% |1.85%
  19| 183|CASH SHORTAGE  |￥2,716         |￥1,169,671     |-0.03363% |16.96706% |0.23%
Eval num_timesteps=5000, episode_reward=0.08 +/- 0.00
Episode length: 184.00 +/- 0.00
  53|  80|CASH SHORTAGE  |￥11,649        |￥919,016       |-0.31642% |-8.09837% |1.27%

In [ ]:
model.save("scaling_reward.model")

## 6、测试

In [ ]:
df_account_value, df_actions = DRL_prediction(
    model=model, 
    environment = e_trade_gym)

In [ ]:
print("回测的时间窗口：{} 至 {}".format(config.End_Trade_Date, config.End_Test_Date))

回测的时间窗口：2019-01-01 至 2021-01-01

In [ ]:
df_account_value.to_csv("df_account_value.csv", index=False)
print("查看日账户净值")
print("开始: ")
print(df_account_value.head())
print("")
print("结束: ")
print(df_account_value.tail())

In [ ]:
print("查看每日所作的交易")
df_actions.to_csv("df_actions.csv", index=False)
df_actions.tail()

## 7、回测

In [ ]:
print("---------------------获取回测结果---------------------")
pref_stats_all = backtest_stats(account_value=df_account_value)

# perf_stats_all = pd.DataFrame(perf_stats_all)
# now = datetime.datetime.now().strftime('%Y%m%d-%Hh%M')
# perf_stats_all.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_"+now+'.csv')

In [ ]:
# 获取 baseline 的结果
print("---------------------获取baseline结果---------------------")
baseline_df = get_baseline(config.SSE_50_INDEX, 
              start="20190101",
              end="20210101")
baseline_stats = backtest_stats(baseline_df, value_col_name='close')

In [ ]:
# 删除 df_account_value 中重复的行
df_account_value.drop(df_account_value.index[1], inplace=True)

In [ ]:
baseline_df.head(10)

In [ ]:
print("---------------------Plot---------------------")
print("和 {} 指数进行比较".format(config.SSE_50_INDEX[0]))
%matplotlib inline
backtest_plot(df_account_value,
        baseline_start="20190101",
        baseline_end="20210101",
        baseline_ticker=config.SSE_50_INDEX,
      )